## Images
*.png
*.pdf

## Need the keyboard image
!iOS-Keyboard.png

## Need the sticker image
!sticker_swiped.pdf
!sticker_swiped.png

## Need the example image
!Swiped_input_Genesis_20210705151131.png

## R history
.Rhistory
